<h1>All Questions (<%= @questions.count %>)</h1>

<table width="100%" class="table table-striped">
  <% @questions.order("id").each do |question| %>
    <tr>
      <td><%= link_to question.title, question_path(question) %></td>
    </tr>
  <% end %>
</table>
