<!-- jumbotron -->
<div class="jumbotron text-center">
  <h1>Tufte Design Studios</h1>
  <p>Making Data Beautiful</p>
  <form>
    <label for"newsletter">Subscribe to our newsletter:</label>
    <input id="newsletter" name="newsletter" type="email" placeholder="Email">
    <input type="submit" value="Subscribe">
  </form>
</div>
<!-- end of jumbotron -->

<!-- services -->
<div class="container-fluid text-center" id="services">
  <h2>Services</h2>
  <div class="row">
    <p>What We Offer</p>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-signal"></span>
      <h4>Infographics</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-eye-open"></span>
      <h4>Logo Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-paperclip"></span>
      <h4>Print Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-cloud"></span>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
<!-- end of services -->

<!-- portfolio -->
<div id="portfolio" class="container-fluid text-center grey-background">
  <h2>Portfolio</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio1.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio2.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio3.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio4.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio5.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio6.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio7.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio8.png"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio9.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio10.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio11.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="img-responsive center-block img-circle" src="assets/portfolio12.jpg"/>
    </div>
  </div>
</div>
<!-- end of portfolio -->

<!-- panels -->
<div class="container-fluid text-center" id="pricing">
  <h2>Pricing</h2>
  <p>Choose a design package that works for you.</p>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3>Package A</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="panel-footer">
          <h3>$1000</h3>
          <button class="btn btn-danger">Purchase</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3>Package B</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="panel-footer">
          <h3>$2000</h3>
          <button class="btn btn-info">Purchase</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>Package C</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="panel-footer">
          <h3>$3000</h3>
          <button class="btn btn-success">Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of panels -->


<!-- contact -->
<div class="container-fluid grey-background" id="contact">
  <h2>Contact</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and start your data beautification journey!</p>
      <p>Vancouver, BC</p>
      <p>604.555.5555</p>
      <p>info@tufte.com</p>
    </div>
    <div class="col-sm-7">
      <form>
          <div class="form-group">
            <input id="name" class="form-control" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="form-group">
            <input id="email" class="form-control" name="email" placeholder="Email" type="email" required>
          </div>
          <div class="form-group">
            <textarea id="comments" class="form-control" name="comments" placeholder="Comments" row="5"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send">
          </div>
      </form>
    </div>
  </div>
</div>
<!-- end of contact -->

<!-- map -->
<div id="map"></div>
<!-- end of map -->
